.loader_container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: black;

  z-index: 10;

  animation: fade 0.3s 4.3s linear both;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 30vh;
  height: 30vh;

  opacity: 1;
  transform: translate(-50%, -50%);
}

.loader__item {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 15vh;
  height: 15vh;
}

.loader__item--blue {
  top: 0;
  left: 0;
  background: #1b91f7;

  animation: item_blue_move 1.9s cubic-bezier(0.6, 0.01, 0.4, 1) 2 both,
    item_blue_fly 0.5s 3.8s linear 1 both;
}

.loader__item--purple {
  top: 0;
  left: 50%;
  background-color: #7a45e5;
  animation: item_purple_move 1.9s cubic-bezier(0.6, 0.01, 0.4, 1) 2 both,
    item_purple_fly 0.5s 3.8s linear 1 both;
}

.loader__item--yellow {
  top: 50%;
  left: 0;
  background-color: #fac24c;
  animation: item_yellow_move 1.9s cubic-bezier(0.6, 0.01, 0.4, 1) 2 both,
    item_yellow_fly 0.5s 3.8s linear 1 both;
}

.loader__item--red {
  top: 50%;
  left: 50%;
  background-color: #fa5667;
  animation: item_red_move 1.9s cubic-bezier(0.6, 0.01, 0.4, 1) 2 both,
    item_red_fly 0.5s 3.8s linear 1 both;
}

.loader__text {
  font-size: 1.6rem;
}

@keyframes item_blue_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(100%, 0);
  }
}

@keyframes item_blue_fly {
  100% {
    transform: translate(-200%, -200%) scale(0) rotate(720deg);
  }
}

@keyframes item_purple_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(-100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
}

@keyframes item_purple_fly {
  100% {
    transform: translate(200%, -200%) scale(0) rotate(720deg);
  }
}

@keyframes item_yellow_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, -100%);
  }
  75% {
    transform: translate(0, -100%);
  }
}

@keyframes item_yellow_fly {
  100% {
    transform: translate(-200%, 200%) scale(0) rotate(720deg);
  }
}

@keyframes item_red_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(-100%, -100%);
  }
  75% {
    transform: translate(-100%, 0);
  }
}

@keyframes item_red_fly {
  100% {
    transform: translate(200%, 200%) scale(0) rotate(720deg);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
