.note_popup_container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.65);

  /* transform: scale(0); */
  transition: transform 0.3s linear;

  z-index: 12;
}

.note_popup_container--active {
  transform: scale(1);
}

.note_popup {
  position: relative;

  width: 45vh;
  height: 42vh;
  margin-top: 10%;
  border: 1px solid rgba(0, 0, 0, 0.25);

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #7082be;
}

.note_popup__close_btn_container {
  position: absolute;
  top: 0;
  right: 0;
}

.note_popup__close_btn {
  border: none;

  background-color: transparent;

  font-size: 4rem;
  color: rgb(175, 18, 18);

  transition: transform 0.3s linear;
}

.note_popup__close_btn:hover {
  transform: scale(1.6);
}

.note_popup__close_btn:focus {
  outline: none;
  border: solid 1px black;
}

@media screen and (orientation: landscape) and (max-width: 823px) {
  .note_popup {
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (orientation: portrait) {
  .note_popup {
    width: 40vh;
    height: 40vh;
  }
}

@media (max-height: 400px) {
  .note_popup {
    height: 72vh;
    width: 72vh;
  }
}

@media (min-width: 1024px) {
  .note_popup__close_btn {
    font-size: 8rem;
  }
}

@media (min-width: 768px) {
  .note_popup {
    margin-top: 0;
  }

  .note_popup_container {
    align-items: center;
  }

  .note_popup__close_btn {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .note_popup__close_btn {
    font-size: 8rem;
  }
}
