.note {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "i s p sb x"
    "d d d d d";

  position: absolute;

  border: 1px solid rgba(0, 0, 0, 0.25);

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #cbfafa;

  overflow: hidden;

  transition: transform 0.3s linear;
}

@media screen and (orientation: landscape) {
  .note {
    width: 20vw;
    min-height: 20vw;
    max-height: 20vw;
  }
}

@media screen and (orientation: portrait) {
  .note {
    width: 20vh;
    min-height: 20vh;
    max-height: 20vh;
  }
}

.note > * {
  place-self: center;
}

.note:hover {
  cursor: pointer;

  overflow-y: auto;
  overflow-x: hidden;
}

.note__description {
  grid-area: d;
  align-self: start;

  max-height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0.2em 0.5em;

  font-size: 1.3rem;
  word-wrap: break-word;
  text-align: center;
  user-select: none;
}

.note::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.note__btn {
  border: none;

  background-color: transparent;

  font-size: 1.5rem;

  transition: transform 0.3s linear;
}

.note__delete_btn {
  grid-area: x;
  color: rgb(212, 42, 42);
}

.note__change_status_btn {
  grid-area: sb;
}

.note__change_status_btn--activate {
  color: rgb(53, 170, 88);
  font-size: 2.15rem;
}

.note__change_status_btn--deactivate {
  color: rgb(212, 42, 42);
  font-size: 2.6rem;
}

.note__btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.note__pin {
  grid-area: p;

  width: 50%;
  height: 40%;

  border-radius: 50%;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55);
}

.note__pin--red {
  background-image: radial-gradient(red 50%, black 100%);
}

.note__pin--blue {
  background-image: radial-gradient(blue 50%, black 100%);
}

.note__icon {
  grid-area: i;

  justify-self: flex-start;

  padding-bottom: 60%;
}

.note__status {
  grid-area: s;

  margin-left: 5%;

  font-size: 1.1rem;
}

.note__type {
  padding-bottom: 20%;
  padding-left: 30%;

  font-size: 1.2rem;
}

@media (min-width: 411px) {
  .note__description {
    font-size: 1.45rem;
  }

  .note__btn {
    font-size: 1.6rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.25rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.7rem;
  }

  .note__icon {
    padding-bottom: 55%;
  }

  .note__status {
    font-size: 1.2rem;
  }

  .note__type {
    padding-bottom: 20%;
    padding-left: 30%;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .note__description {
    font-size: 2.05rem;
  }

  .note__btn {
    font-size: 2.2rem;
  }

  .note__change_status_btn--activate {
    font-size: 3rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 3.6rem;
  }

  .note__icon {
    padding-bottom: 45%;
  }

  .note__status {
    font-size: 1.7rem;
  }

  .note__type {
    padding-bottom: 15%;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .note__description {
    font-size: 2rem;
  }

  .note__btn {
    font-size: 2.4rem;
  }

  .note__change_status_btn--activate {
    font-size: 3.3rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 4.6rem;
  }

  .note__status {
    font-size: 1.8rem;
  }

  .note__type {
    padding-bottom: 10%;
    padding-left: 24%;
    font-size: 2.1rem;
  }
}

@media (min-width: 1280px) {
  .note {
    width: 12vw;
    min-height: 12vw;
    max-height: 12vw;
  }

  .note__description {
    font-size: 2.3rem;
  }

  .note__btn {
    font-size: 2.7rem;
  }

  .note__change_status_btn--activate {
    font-size: 3.5rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 4.6rem;
  }

  .note__status {
    font-size: 2.1rem;
  }

  .note__type {
    padding-bottom: 15%;
    padding-left: 25%;
    font-size: 2.3rem;
  }
}

@media (min-width: 375px) and (max-height: 812px) {
  .note__description {
    font-size: 1.6rem;
  }

  .note__btn {
    font-size: 1.7rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.5rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 3rem;
  }

  .note__status {
    font-size: 1.4rem;
  }

  .note__type {
    font-size: 1.5rem;
  }
}

@media (min-width: 411px) and (max-height: 823px) {
  .note__description {
    font-size: 1.7rem;
  }

  .note__btn {
    font-size: 1.65rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.4rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.9rem;
  }

  .note__status {
    font-size: 1.3rem;
  }

  .note__type {
    padding-bottom: 12%;
    padding-left: 30%;
    font-size: 1.4rem;
  }
}

@media (min-width: 320px) and (max-height: 568px) {
  .note__description {
    font-size: 1.2rem;
  }

  .note__btn {
    font-size: 1.35rem;
  }

  .note__change_status_btn--activate {
    font-size: 2rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.2rem;
  }

  .note__status {
    font-size: 0.9rem;
  }

  .note__type {
    padding-left: 20%;
    padding-bottom: 20%;
    font-size: 1rem;
  }
}

@media (min-width: 411px) and (max-height: 731px) {
  .note__description {
    font-size: 1.4rem;
  }

  .note__btn {
    font-size: 1.65rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.3rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.7rem;
  }

  .note__status {
    font-size: 1.2rem;
  }

  .note__type {
    padding-bottom: 12%;
    padding-left: 30%;
    font-size: 1.3rem;
  }
}

@media (min-width: 414px) and (max-height: 736px) {
  .note__description {
    font-size: 1.45rem;
  }

  .note__btn {
    font-size: 1.5rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.2rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.5rem;
  }

  .note__status {
    font-size: 1.3rem;
  }

  .note__type {
    padding-bottom: 15%;
    padding-left: 25%;
    font-size: 1.4rem;
  }
}

@media (min-width: 450px) and (max-width: 600px) and (max-height: 600px) {
  .note__description {
    font-size: 1.2rem;
  }

  .note__btn {
    font-size: 1.4rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.15rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.4rem;
  }

  .note__status {
    font-size: 0.9rem;
  }

  .note__type {
    padding-bottom: 15%;
    padding-left: 20%;
    font-size: 1rem;
  }
}

@media (min-height: 667px) and (max-width: 375px) {
  .note__description {
    font-size: 1.3rem;
  }

  .note__btn {
    font-size: 1.45rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.2rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.6rem;
  }

  .note__status {
    font-size: 1.1rem;
  }

  .note__type {
    padding-bottom: 7%;
    padding-left: 25%;
    font-size: 1.2rem;
  }
}

@media (min-width: 667px) and (max-height: 375px) {
  .note__description {
    font-size: 1.3rem;
  }

  .note__btn {
    font-size: 1.45rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.2rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.6rem;
  }

  .note__status {
    font-size: 1.1rem;
  }

  .note__type {
    padding-bottom: 7%;
    padding-left: 25%;
    font-size: 1.2rem;
  }
}

@media (min-width: 812px) and (max-height: 375px),
  (min-height: 812px) and (max-width: 375px) {
  .note__description {
    font-size: 1.6rem;
  }

  .note__btn {
    font-size: 1.85rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.6rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 3.1rem;
  }

  .note__status {
    font-size: 1.45rem;
  }

  .note__type {
    font-size: 1.55rem;
  }
}

@media (min-width: 568px) and (max-height: 320px) {
  .note__description {
    font-size: 1.1rem;
  }

  .note__btn {
    font-size: 1.35rem;
  }

  .note__change_status_btn--activate {
    font-size: 2rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.2rem;
  }

  .note__status {
    font-size: 0.9rem;
  }

  .note__type {
    padding-left: 20%;
    padding-bottom: 20%;
    font-size: 1rem;
  }
}

@media (min-width: 640px) and (max-height: 360px) {
  .note__description {
    font-size: 1.25rem;
  }

  .note__btn {
    font-size: 1.5rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.3rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.6rem;
  }

  .note__status {
    font-size: 1rem;
  }

  .note__type {
    padding-bottom: 15%;
    padding-left: 25%;
    font-size: 1.1rem;
  }
}

@media (min-width: 823px) and (max-height: 411px) {
  .note__description {
    font-size: 1.65rem;
  }

  .note__btn {
    font-size: 1.75rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.35rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.85rem;
  }

  .note__status {
    font-size: 1.5rem;
  }

  .note__type {
    padding-left: 20%;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) and (max-height: 768px) {
  .note {
    width: 15vw;
    min-height: 15vw;
    max-height: 15vw;
  }
}

@media (min-width: 768px) and (min-height: 768px) and(max-height: 1024px) {
  .note {
    width: 19vw;
    min-height: 19vw;
    max-height: 19vw;
  }

  .note__description {
    font-size: 1.4rem;
  }

  .note__btn {
    font-size: 1.65rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.25rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.8rem;
  }

  .note__status {
    font-size: 1.2rem;
  }

  .note__type {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) and (max-height: 1366px) {
  .note {
    width: 13vw;
    min-height: 13vw;
    max-height: 13vw;
  }

  .note__description {
    font-size: 1.3rem;
  }

  .note__btn {
    font-size: 1.5rem;
  }

  .note__change_status_btn--activate {
    font-size: 2.05rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 2.45rem;
  }

  .note__status {
    font-size: 1.2rem;
  }

  .note__type {
    font-size: 1.3rem;
  }
}

@media (min-width: 1366px) and (max-height: 1024px) {
  .note {
    width: 10vw;
    min-height: 10vw;
    max-height: 10vw;
  }
}

@media (min-width: 1920px) and (min-height: 930px) {
  .note {
    width: 12vw;
    min-height: 12vw;
    max-height: 12vw;
  }

  .note__description {
    font-size: 2.3rem;
  }

  .note__btn {
    font-size: 2.4rem;
  }

  .note__change_status_btn--activate {
    font-size: 3.05rem;
  }

  .note__change_status_btn--deactivate {
    font-size: 3.65rem;
  }

  .note__status {
    font-size: 2rem;
  }

  .note__type {
    font-size: 2.1rem;
  }
}
