.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  width: 20vh;
  min-height: 20vh;
  max-height: 20vh;
  border: 1px solid rgba(0, 0, 0, 0.25);

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #cbfafa;

  overflow: hidden;

  transition: transform 0.3s linear;
}

.note:hover {
  cursor: pointer;

  overflow-y: auto;
  overflow-x: hidden;
}

.note__text {
  max-height: 20vh;
  width: 100%;
  padding: 1em;

  word-wrap: break-word;
  text-align: center;
  user-select: none;
}

.note::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.note__delete_btn {
  position: fixed;
  top: 0;
  right: 0;

  border: none;

  background-color: transparent;

  font-size: 2rem;
  color: rgb(175, 18, 18);

  transition: transform 0.3s linear;
}

.note__delete_btn:hover {
  cursor: pointer;
}

.note__pin {
  position: absolute;
  top: 5%;
  left: 50%;

  width: 10%;
  height: 10%;

  border-radius: 50%;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55);

  transform: translate(-50%, 0);
}

.note__pin--red {
  background-image: radial-gradient(red 50%, black 100%);
}

.note__pin--blue {
  background-image: radial-gradient(blue 50%, black 100%);
}
