.note_search_container {
  position: absolute;
  bottom: 0%;
  left: 50%;

  display: flex;
  flex-direction: row;

  width: 280px;
  height: 120px;

  transform: translate(-50%, 72%);
  transition: transform 0.3s linear;

  z-index: 10;
}

.note_search_container:hover {
  transform: translate(-50%, 0%);
}

.note_search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  height: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #cbfafa;
}

.note_search__heading {
  justify-self: start;

  margin: 0;

  font-size: 2.2rem;
}

.note_search__input {
  width: 100%;

  margin-bottom: 10px;
  padding: 1%;
  border: 1px solid black;
  background-color: transparent;

  font-size: 1.6rem;
}

.note_search__types {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.note_search__icon {
  font-size: 1.8rem;
}

.note_search__icon:hover {
  cursor: pointer;
}

.note_search__cancel_btn {
  position: absolute;
  top: 0%;
  right: 0%;

  border: none;
  padding-bottom: 18%;

  height: 60px;
  background-color: transparent;

  font-size: 4rem;
  color: rgb(175, 18, 18);

  transition: transform 0.3s linear;
}

.note_search__cancel_btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

@media (min-width: 375px) {
  .note_search__heading {
    font-size: 1.9rem;
  }

  .note_search__input {
    font-size: 1.6rem;
  }

  .note_search__icon {
    font-size: 1.6rem;
  }
}

@media (min-width: 411px) {
  .note_search_container {
    width: 240px;
    height: 120px;
  }

  .note_search__heading {
    font-size: 2.1rem;
  }

  .note_search__input {
    font-size: 1.5rem;
  }

  .note_search__icon {
    font-size: 1.5rem;
  }

  .note_search__cancel_btn {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .note_search_container {
    width: 320px;
    height: 160px;
  }

  .note_search__heading {
    font-size: 2.6rem;
  }

  .note_search__input {
    font-size: 2.2rem;
  }

  .note_search__icon {
    font-size: 2.2rem;
  }

  .note_search__cancel_btn {
    padding-bottom: 18%;

    height: 60px;
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .note_search_container {
    width: 320px;
    height: 160px;
  }

  .note_search__heading {
    font-size: 2.8rem;
  }

  .note_search__input {
    font-size: 2.3rem;
  }

  .note_search__icon {
    font-size: 2.3rem;
  }

  .note_search__cancel_btn {
    font-size: 4.3rem;
  }
}

@media (min-width: 1366px) {
  .note_search_container {
    width: 320px;
    height: 160px;
  }

  .note_search__heading {
    font-size: 3rem;
  }

  .note_search__input {
    font-size: 2.7rem;
  }

  .note_search__icon {
    font-size: 2.7rem;
  }

  .note_search__cancel_btn {
    font-size: 4.5rem;
  }
}
