.note {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "i s p sb x"
    "d d d d d";

  position: absolute;

  width: 20vh;
  min-height: 20vh;
  max-height: 20vh;
  border: 1px solid rgba(0, 0, 0, 0.25);

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #cbfafa;

  font-size: 1.4rem;
  overflow: hidden;

  transition: transform 0.3s linear;
}

.note > * {
  place-self: center;
}

.note:hover {
  cursor: pointer;

  overflow-y: auto;
  overflow-x: hidden;
}

.note__description {
  grid-area: d;
  align-self: start;

  max-height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0.2em 0.5em;

  word-wrap: break-word;
  text-align: center;
  user-select: none;
}

.note::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.note__btn {
  border: none;

  background-color: transparent;

  font-size: 1.7rem;

  transition: transform 0.3s linear;
}

.note__delete_btn {
  grid-area: x;
  color: rgb(212, 42, 42);
}

.note__change_status_btn {
  grid-area: sb;

  font-size: 2rem;
}

.note__change_status_btn--activate {
  color: rgb(53, 170, 88);
}

.note__change_status_btn--deactivate {
  color: rgb(212, 42, 42);
}

.note__btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.note__pin {
  grid-area: p;

  width: 50%;
  height: 40%;

  border-radius: 50%;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55);
}

.note__pin--red {
  background-image: radial-gradient(red 50%, black 100%);
}

.note__pin--blue {
  background-image: radial-gradient(blue 50%, black 100%);
}

.note__icon {
  grid-area: i;

  justify-self: flex-start;

  margin-left: 10%;
  padding-bottom: 60%;
}

.note__status {
  grid-area: s;

  margin-left: 5%;

  font-size: 1rem;
}

.note__type {
  padding-bottom: 40%;

  font-size: 1rem;
}

@media (min-width: 411px) {
  .note__description {
    font-size: 1.5rem;
  }

  .note__btn {
    font-size: 2.3rem;
  }

  .note__change_status_btn {
    font-size: 3rem;
  }

  .note__status {
    font-size: 1.2rem;
  }

  .note__type {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .note__description {
    font-size: 1.9rem;
  }

  .note__btn {
    font-size: 2.7rem;
  }

  .note__change_status_btn {
    font-size: 3.3rem;
  }

  .note__status {
    margin-left: 0;

    font-size: 1.7rem;
  }

  .note__type {
    padding-bottom: 20%;

    font-size: 1.6rem;
  }
}
