.note_form {
  height: 100%;
  padding: 3%;

  font-size: 1.5rem;
}

.note_form__group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  height: 20%;
}

.note_form__group-center {
  align-items: center;
}

.note_form__type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 20%;
}

.note_form__group--large {
  height: 40%;
}

.note_form__group--submit {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 30%;

  font-size: 1.7rem;
}

.note_form__btn {
  height: 50%;

  padding: 11px;
  border: 2px solid black;
  border-radius: 10px;

  transition: transform 0.3s linear;
}

.note_form__btn:hover {
  transform: scale(1.1);
}

.note_form__textarea {
  width: 100%;
  height: 80%;
  padding: 10px;

  background-color: transparent;
  border: none;
  resize: none;
  overflow: auto;

  font-size: 2rem;
}

.note_form__label {
  margin-left: 6px;

  font-size: 1.4rem;
}

.note_form__label--big {
  font-size: 1.8rem;
}

.note_form__label--row {
  width: 100%;
  font-size: 1.8rem;
}

.note_form__color_input {
  margin-left: 8px;
}

@media (min-width: 375px) {
  .note_form__label {
    margin-left: 8px;

    font-size: 1.7rem;
  }

  .note_form__label--big {
    font-size: 1.8rem;
  }

  .note_form__label--row {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .note_form {
    font-size: 2rem;
  }

  .note_form__group-center {
    align-items: center;
  }

  .note_form__btn {
    font-size: 2.1rem;
  }

  .note_form__label {
    margin-left: 8px;

    font-size: 1.7rem;
  }

  .note_form__label--big {
    font-size: 1.8rem;
  }

  .note_form__label--row {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .note_form__btn {
    font-size: 3.1rem;
  }

  .note_form__label {
    margin-left: 8px;

    font-size: 3rem;
  }

  .note_form__label--big {
    font-size: 3.1rem;
  }

  .note_form__label--row {
    font-size: 3.1rem;
  }
}
